@keyframes hover-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .hover-bounce-up {
    animation: hover-bounce 0.5s ease-in-out infinite;
  }