{% extends 'base.html' %}

{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto bg-orange-200 p-6 rounded-lg shadow-lg my-4">
    <h1 class="text-2xl text-yellow-950 font-semibold mb-6">Add New Pastry!</h1>

    <form method="POST">
        {% csrf_token %}
        <!-- {{ form | crispy}} -->
        <div class="space-y-4">
            {% for field in form %}
            <div class="flex flex-col">
                <label for="{{ field.id_for_label }}" class="text-lg font-medium text-gray-700 mb-1">{{ field.label }}</label>
                <div class="relative">
                    {{ field }}
                    {% if field.errors %}
                    <span class="absolute text-red-500 text-sm">{{ field.errors }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-6 text-right">
            <input type="submit" value="Add Pastry" class="bg-red-900 text-white py-2 px-4 rounded hover:bg-red-950 transition duration-200"/>
        </div>
    </form>
</div>
{% endblock %}
