{% extends 'base.html' %}

{% load tailwind_filters %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
  <div class="bg-orange-200 p-8 rounded-lg shadow-lg w-full max-w-md mx-4">
    <h1 class="text-3xl font-bold mb-6 text-center text-yellow-950">Login</h1>

    <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-4 ">
        {{ form | crispy }}
      </div>

      <div class="flex justify-center">
        <input
          class="btn bg-yellow-950 hover:bg-red-900 text-white font-semibold py-2 px-4 rounded w-full cursor-pointer"
          type="submit" value="Login" />
      </div>
    </form>

    {% if messages %}
    <ul class="mt-4">
      {% for message in messages %}
      <li class="text-green-800 text-sm">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <p class="text-center text-gray-600 mt-6">
      Don't have an account yet?
      <a href="{% url 'main:register' %}" class="text-blue-500 hover:underline">Register Now</a>
    </p>
  </div>
</div>
{% endblock content %}
